body.cssmenu{
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border:none;
	background-color: #343b3b;
}
img.bg{
       height: 143px;
       width: 250px;
       list-style: none;
   }img.img-circle{
    height: 64px;
    width: 64px;
    box-sizing: inherit;
    margin-top: -110px;
    margin-left: 90px;
} img.img-circle,span.name,div.userView{
    display: block;
}
li.bgg{
    padding: 0px;
    list-style: none;
}ul.side-nav{
    padding: 0px;
    }span.name{
        text-align: center;
        color: white;
    }
img.img-circle.w{
    height: 80px;
    width: 80px;
    box-sizing: inherit;
    margin-top: 0px;
    margin-left: 90px;
}
td,tr,ul,li{
	color: white;
	background-color: #343b3b;
	border: 0px;


}.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: 0px;
    list-style: none;
}

table.td.tr{
	background-color: whitesmoke;
}
th{
	color: black;
	background-color: #FDBA4B;
}li.sidebar-search{
	background-color: whitesmoke;
	border: none;
}a{
	color: white;
}
title{
	font-family: 'Poppins', sans-serif;
}
div.panel-body{
	font-family: 'Poppins', sans-serif;
	color: black;
}
div.panel-heading{
	font-family: 'Poppins', sans-serif;
	background-color: #32C8A3;
}
div.panel.panel-default{
	font-family: 'Poppins', sans-serif;
	background-color: whitesmoke;
	color: white;
	border: 10px solid #FDBA4B;
	margin-top: 5px;
}

div#page-wrapper{
	background-color: white;

border:none;
}
a.navbar-brand{
	color: white;
	font-family: 'Poppins', sans-serif;
	background-color: #FDAE2D;
	font-size: inherit;

}
nav.navbar.navbar-default.navbar-static-top{
	background-color: #FDBA4B;
	color: white;
	margin-bottom: 53px;
}
.sidebar ul li a.active {
    background-color: #FDAE2D;
    color: white;

}.panel-default > .panel-heading{
	background-color: #FDBA4B;
	color: white;
}
nav.navbar.navbar-default.navbar-static-top a:hover{
	color: white;
	background:#FDBA4B;
	font-family: Times-New-Roman;
	font-size: large;
}	
nav.navbar-top-links.navbar-right{
	background-color: #FDBA4B;
	color: white;
	border:none;

}
.navbar-top-links li a {

    padding: 15px;
    min-height: 50px;
    background-color: #fdba4b;
    margin-right: -15px;

}
.navbar-default{
	border:none;
	margin-bottom: 0px;
	background-color: #343b3b;
}
ul.dropdown-menu.dropdown-user>li{
	background-color: #32C8A3;
	color: white;
	border:none;
}a.fa.fa-user.fa-fw{
	
	background-color: #32C8A3;
	color: white;
	border:none;
}
i.fa.fa-user.fa-fw,i.fa.fa-caret-down{
	color: white;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	background-color: #FDBA4B;
	color: white;
}