<style >
    img.bg{
       height: 143px;
       width: 250px;
       list-style: none;
   }img.img-circle{
    height: 64px;
    width: 64px;
    box-sizing: inherit;
    margin-top: -110px;
    margin-left: 90px;
} img.img-circle,span.name,div.userView{
    display: block;
}li.bgg{
    padding: 0px;
    list-style: none;
}ul.side-nav{
    padding: 0px;
    }span.name{
        text-align: center;
        color: white;
    }
li.dropdown,a.dropdown-toggle,ul.dropdown-menu,{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    margin-right: 0px;

}ul.dropdown-menu{
    height:250px;
    width: 250px;
    padding: 0px;
    margin-right: 16px;

}p.member,small.member{
   margin: 0 0 10px;
   margin-top: 30px;
}img.img-circle.w{
    height: 80px;
    width: 80px;
    box-sizing: inherit;
    margin-top: 0px;
    margin-left: 90px;
}.user-header{
    height: 205px;
    padding: 13px;
    margin-right: 0px;
    background-color: #32C8A3;
    font-weight: bold;
}div.pull-left,div.pull-right{
    margin: 6px;
}.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    background: #3c8dbc;
     background-color: rgb(60, 141, 188);
    text-align: center;
}.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}.navbar-right{
    float: left;
}.dropdown-toggle{
    margin-right: 16px;
    background-color: #FDBA4B;
    color: white;
}.navbar-top-links li:last-child {
    margin-right: 0px;
}.navbar-top-links li:hover {
    color: white;
    background-color: #32C8A3;
    margin-right: 0px;
}
</style>